table.pcports_stats th {
    width: 128px;
}
table.pcports_stats th.row_stat_name { 
    width: 205px;
}

table.pcports_stats td {
    width: 76px;
}

table.wlanhost_stats { 
    display : inline;
}

table.wlanhost_stats td { 
    min-width: 179px;
}

div.rssidb { 
    float:right;
}

div.rssibar { 
    height: 11.5px; 
    border: 1px solid black; 
    background-color: #ffffff; 
    margin-right: 64px;
}

div.rssibar div { 
    height: 100%;
    border-right: 1px solid #666666;
}
