#hotspot_info th {
    width: 102px;
}

#hotspot_info td {
    width: 282px;
}

#hotspot_assoc td.col_mac, #hotspot_assoc th.col_mac {
    width: 166px;
}

#hotspot_assoc td.col_ip, #hotspot_assoc th.col_ip {
    width: 166px;
}
