table#network_status th {
#ifdef CIBOX
    width: 83px;
#else
    width: 64px;
#endif
}

table#network_status td {
#ifdef CIBOX
    width: 301px;
#else
    width: 320px;
#endif
}

table#network_clients th.col_number {
    width: 25px;
}

table#network_clients th.col_mac {
    width: 153px;
}

table#network_clients th.col_ip {
    min-width: 115px;
}

table#network_clients th.col_port {
    width: 64px;
}

table#stbconfig th { 
    width: 153px;
}

table#stbconfig td { 
    width: 230px;
}
